// src/styles/themes/_dark.scss

// Конфигурация темной темы

.dark-theme {
    // Базовые переменные приложения
    --app-background: var(--bg-main);
    --text-primary: var(--text-usual);
    --text-secondary: var(--text-grey);
    --border-color: #444444;
    
    // Если нужны специфичные для темной темы настройки,
    // их можно добавить здесь
  }